
.idea/

src/__pycache__/

src/plan/__pycache__/

*.pyc

**/smt_encoding_*
*.plan

benchmarks/planners/cplex/installer.bin

..bfg-report/

*.smt

*.sp_log

*.pdf

*.SOL

**/noise/
**/partial/**

*.sp_log
