
.idea/

src/__pycache__/

src/plan/__pycache__/

*.pyc

experiments/

**/smt_encoding_*
*.plan

benchmarks/planners/cplex/installer.bin

..bfg-report/

*.smt

*.pdf

benchmarks/planners/planutils

*.sp_log

**/pattern-instances/*
